disnake[voice]==2.12.1
disnake-ext-invitetracker==0.0.2
python-dotenv==1.0.0
# discord.py==1.6.0
PyNaCl==1.5.0
dave.py
# yt-dlp==2026.07.04
pytz==2022.1
# Flask==2.1.1
# ffmpeg==1.4
# ffmpeg-python==0.2.0
requests>=2.32.2
python-dateutil==2.8.2
flask==2.3